<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-title>Presentación</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="presentaciones">  
    <div *ngFor="let item of Table">
    <ion-item *ngIf="item.user_created == idUser" (click)="select(item.id, item.name)">
      <ion-label>
        <p class="mayuscula"><ion-icon name="pricetag"></ion-icon>  {{item.name}}</p>
        <p>{{item.description}}</p>
      </ion-label>
    </ion-item>
    </div>  
  </ion-list>

  <form (ngSubmit)="saveChanges()" *ngIf="formulario" padding>
    <!--DESCRIPCION-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="pricetag"></ion-icon>  Descripcion</ion-label>
      <ion-input type="text" [(ngModel)]="data.description" name="description" >
      </ion-input>
    </ion-item>
    <!--PRECIO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="pricetag"></ion-icon>  Precio</ion-label>
      <ion-input type="number" [(ngModel)]="data.price" name="price" >
      </ion-input>
    </ion-item>
    <!--COSTO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="pricetag"></ion-icon>  Costo</ion-label>
      <ion-input type="number" [(ngModel)]="data.cost" name="cost" >
      </ion-input>
    </ion-item>
    <!--CANTIDAD-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="basket"></ion-icon>  Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="data.quantity" name="quantity" >
      </ion-input>
    </ion-item>
    <ion-button color="Finca" expand="block" fill="solid" (click)="saveChanges()"  type="button" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>