<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="categoria">
      <ion-icon name="leaf"></ion-icon>
      <ion-label>Menú</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="promocion">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>Promociones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="informacion">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Información</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon name="log-in"></ion-icon>
      <ion-label>Iniciar Sesión</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
