<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="parameter=='1'">
  <form (ngSubmit)="updateProfile()">
    <img *ngIf="profile.picture" src="{{ profile.picture }}" id="imgAvatar" alt="Avatar" class="splash-logo"
        style="display: block; margin-left: auto; margin-right: auto;">
    <!--USUARIO-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="person"></ion-icon>  Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="profile.username" name="username" disabled>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" ><ion-icon name="at"></ion-icon>  Correo Electrónico</ion-label>
      <ion-input type="text" [(ngModel)]="profile.email" name="email" disabled>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" ><ion-icon name="person"></ion-icon>  Nombres</ion-label>
      <ion-input type="text" [(ngModel)]="profile.firstname" name="firstname">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" ><ion-icon name="person"></ion-icon>  Apellidos</ion-label>
      <ion-input type="text" [(ngModel)]="profile.lastname" name="lastname">
      </ion-input>
    </ion-item>
    <!-- CUMPLEAÑOS -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="calendar"></ion-icon>  Fecha de Nacimiento</ion-label>
      <ion-datetime displayFormat="YYYY-MMM-DD" [(ngModel)]="profile.birthday" name="birthday">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating" ><ion-icon name="phone-portrait"></ion-icon>  No. Teléfono</ion-label>
      <ion-input type="number" [(ngModel)]="profile.phone" name="phone">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" ><ion-icon name="pin"></ion-icon>  Dirección</ion-label>
      <ion-input type="text" [(ngModel)]="profile.work" name="work">
      </ion-input>
    </ion-item>
    <ion-button color="Finca" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>

<ion-content padding *ngIf="parameter=='2'">
  <form (ngSubmit)="changePasswordProfile()">
    <!--USUARIO-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="lock"></ion-icon>  Contraseña Actual</ion-label>
      <ion-input type="text" [(ngModel)]="changePassword.old_pass" name="old_pass">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" ><ion-icon name="lock"></ion-icon>  Contraseña Nueva</ion-label>
      <ion-input type="text" [(ngModel)]="changePassword.new_pass" name="new_pass">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" ><ion-icon name="lock"></ion-icon>  Confirmar Contraseña</ion-label>
      <ion-input type="text" [(ngModel)]="changePassword.new_pass_rep" name="new_pass_rep">
      </ion-input>
    </ion-item>
    <ion-button color="Finca" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>

<ion-content padding *ngIf="parameter=='3'">
  <form (ngSubmit)="updateProfile()">
    <img *ngIf="profile.picture" src="{{ profile.picture }}" id="imgAvatar" alt="Avatar" class="splash-logo"
        style="display: block; margin-left: auto; margin-right: auto;">
    <!--DESCRIPCION-->
    <ion-item no-lines>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Mensaje Carrito</ion-label>
      <ion-textarea rows="6" cols="20" [(ngModel)]="profile.opcion25" name="opcion25"></ion-textarea>
    </ion-item>
    <!--INFO DEPOSITO-->
    <ion-item no-lines>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Info. Deposito</ion-label>
      <ion-textarea rows="3" cols="20" [(ngModel)]="profile.opcion27" name="opcion27"></ion-textarea>
    </ion-item>
    <!-- LINK WHATSAPP BUSINESS-->
    <ion-item no-lines>
      <ion-label position="floating"><ion-icon name="link"></ion-icon>  Link Whatsapp Business</ion-label>
      <ion-textarea rows="3" cols="20" [(ngModel)]="profile.opcion26" name="opcion26"></ion-textarea>
    </ion-item>
    <ion-button color="Finca" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>