<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-title>Descuento</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Cantidad</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="data.cantidad" required>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción</ion-label>
      <ion-textarea type="text" name="description" [(ngModel)]="data.description" required>
      </ion-textarea>
    </ion-item>
    <!--DESCUENTO-->
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descuento</ion-label>
      <ion-input type="number" name="latitude" [(ngModel)]="data.latitude" required>
      </ion-input>
    </ion-item>
    <!--CODIGO-->
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Código</ion-label>
      <ion-input type="text" name="codigo" [(ngModel)]="data.codigo" disabled>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><ion-icon name="eye"></ion-icon>  Mostrar Descuento</ion-label>
      <ion-select [(ngModel)]="data.longitude" name="longitude">
        <ion-select-option value="0">No Mostrar</ion-select-option>
        <ion-select-option value="1">Mostrar</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button color="Finca" expand="block" fill="solid" (click)="saveChanges()"  type="button" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>