<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-title>Direccion</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveChanges()" padding>
    <!--TITULO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="home"></ion-icon>  Dirección</ion-label>
      <ion-input type="text" name="direccion" [(ngModel)]="data.direccion" required>
      </ion-input>
    </ion-item>
    <!--CIUDAD-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Ciudad</ion-label>
      <ion-input type="text" name="numero" [(ngModel)]="data.ciudad">
      </ion-input>
    </ion-item>
    <!--CALLE-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Calle</ion-label>
      <ion-input type="text" name="numero" [(ngModel)]="data.calle">
      </ion-input>
    </ion-item>
    <!--NO TELEFONO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="phone-portrait"></ion-icon>  No. Teléfono</ion-label>
      <ion-input type="text" name="numero" [(ngModel)]="data.numero">
      </ion-input>
    </ion-item>
    <!--OBSERVACIONES-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Observaciones</ion-label>
      <ion-textarea type="text" name="observacion" [(ngModel)]="data.observacion" required rows="1" autosize>
      </ion-textarea>
    </ion-item>
    <ion-button color="Finca" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
    <ion-button color="danger" expand="block" fill="solid" type="button" *ngIf="data.id">
      <ion-icon name="trash" slot="start"></ion-icon>
      Eliminar
    </ion-button>
  </form>
</ion-content>