<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-title>Promoción</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="administratorApp=='Administrador'">
  <form>
    <img class="image-slides2" style="border-radius: 25px;" id="imgAvatar" alt="Avatar" [src]="data.picture">
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Título</ion-label>
      <ion-input type="text" name="title" [(ngModel)]="data.title" required>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item no-lines>
      <ion-label position="floating"><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripcion</ion-label>
      <ion-textarea rows="3" cols="20" [(ngModel)]="data.description" name="description"></ion-textarea>
    </ion-item>
    <!--CODIGO-->
    <ion-item no-lines>
    <ion-label position="floating"><ion-icon name="calendar"></ion-icon>  Fecha Inicio</ion-label>
      <ion-datetime displayFormat="YYYY MMM DD" pickerFormat="DD MMM YYYY" name="inicio" [(ngModel)]="data.inicio" required>
    </ion-datetime>
    </ion-item>
    <!--CODIGO-->
    <ion-item no-lines>
    <ion-label position="floating"><ion-icon name="calendar"></ion-icon>  Fecha Fin</ion-label>
    <ion-datetime displayFormat="YYYY MMM DD" pickerFormat="DD MMM YYYY" name="fin" [(ngModel)]="data.fin" required>
    </ion-datetime>
    </ion-item>
    <!--DESCUENTO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="pricetag"></ion-icon>  Descuento</ion-label>
      <ion-input type="number" name="descuento" [(ngModel)]="data.descuento" required>
      </ion-input>
    </ion-item>
    <!--PRODUCTOS-->
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Producto</ion-label>
      <ion-select [(ngModel)]="data.product" name="product">
        <ion-select-option  *ngFor="let x of table" value="{{x.id}}" >{{ x.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button color="Finca" expand="block" fill="solid" (click)="saveChanges()"  type="button" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
    <div class="upload-btn-wrapper" *ngIf="data.id">
      <ion-button expand="block" type="button" color="Finca" style="width: 100%">
        <ion-icon ios="ios-image" md="md-image" slot="start"></ion-icon>
        Subir Imagen
      </ion-button>
      <input style="width: 100%" class="upload-btn-wrapper2 button button-block button-solid invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>
  </form>
</ion-content>

<ion-content class="ion-padding" *ngIf="administratorApp!='Administrador'">
  <div *ngIf="data.picture" >
    <img class="image-slides2" style="border-radius: 25px;" id="imgAvatar" alt="Avatar" [src]="data.picture">
  </div>

  <!-- INFORMACION -->
  <div>
    <h2 class="text center" *ngIf="data.title">{{data.title}}</h2>
    <p class="text center" *ngIf="data.description">{{data.description}}</p>
    <p class="text center"><ion-icon name="calendar"></ion-icon> Del {{ data.inicio | date: 'dd MMM, yyyy' }} al {{ data.fin | date: 'dd MMM, yyyy' }}</p>
    <p class="text center"><strong>Descuento: </strong>{{ data.descuento }}%</p>

    <ion-card *ngIf="product">
      <ion-card-header>
        <ion-card-title style="font-size: 18px;">{{product.name}}</ion-card-title>
        <ion-card-subtitle>{{product.description}}</ion-card-subtitle>
      </ion-card-header>
      <ion-list lines="none" >
        <ion-item *ngIf="product.presentaciones_varias.length!=0">
          <ion-label>Presentación</ion-label>
          <ion-select [(ngModel)]="selectItemProduct" name="selectItemProduct" placeholder="Seleccionar">
            <ion-select-option *ngFor="let x of product.presentaciones_varias" [value]="x">{{x.description}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" fill="clear" color="FincaNav" *ngIf="product.presentaciones_varias.length!=0" (click)="saveChanges2(product)">
          <ion-icon name="cart" slot="start"></ion-icon>
          Añadir al carrito
        </ion-button>
        <ion-button expand="block" fill="clear" color="FincaNav" *ngIf="product.presentaciones_varias.length==0" (click)="saveChanges3(product)">
          <ion-icon name="cart" slot="start"></ion-icon>
          Añadir al carrito
        </ion-button>
        <ion-button expand="block" fill="clear" color="FincaNav" (click)="presentModal(product.id)">
          <ion-icon name="information-circle" slot="start"></ion-icon>
          Ver Precios
        </ion-button>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
