<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-title>Detalle de Pedido</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data2">
  <div style="height: 35%;">
    <img src="{{ data2.archivo }}" id="imgAvatar" alt="Avatar" class="image-slides"/>
  </div>
  <!--<div padding *ngIf="!data2">
    <div *ngIf="data">
      <p class="text"><strong><ion-icon name="leaf"></ion-icon>  Proveedor: </strong>{{data.users.firstname}} {{data.users.lastname}}</p>
      <p class="text"><strong><ion-icon name="pricetag"></ion-icon>  Producto: </strong>{{data.products.name}}</p>
      <p class="text"><strong><ion-icon name="cash"></ion-icon>  Total: </strong>{{data.total}}</p>
    </div>
  </div>-->
  <div padding *ngIf="data2">
    <!--<p class="text"><strong><ion-icon name="leaf"></ion-icon>  Proveedor: </strong>{{data.users.firstname}} {{data.users.lastname}}</p>-->
    <p *ngIf="data2" class="text"><strong><ion-icon name="cash"></ion-icon>  Tipo de Pago: </strong>{{data2.tipos.descripcion}}</p>
    <p *ngIf="data2.fecha" class="text"><strong><ion-icon name="calendar"></ion-icon>  Fecha Pedido: </strong>{{data2.fecha | date: 'longDate'}}</p>
    <p *ngIf="data2.entrega" class="text"><strong><ion-icon name="calendar"></ion-icon>  Fecha Entrega: </strong>{{data2.entrega | date: 'longDate'}}</p>
    <p *ngIf="data2.observacion" class="text"><strong><ion-icon name="information-circle"></ion-icon>  Información: </strong>{{data2.observacion}}</p>
    <hr style="border: 1px;">
    <p class="text"><strong><ion-icon name="person"></ion-icon>  Cliente: </strong>{{data2.clientes.firstname}} {{data2.clientes.lastname}}</p>
    <p class="text"><strong><ion-icon name="at"></ion-icon>  Correo: </strong>{{data2.clientes.email}}</p>
    <p class="text"><strong><ion-icon name="phone-portrait"></ion-icon>  Telefono: </strong>{{data2.clientes.phone}}</p>
    <p class="text"><strong><ion-icon name="pin"></ion-icon>  Dirección: </strong>{{data2.clientes.work}}</p>
    <!--<p class="text"><strong><ion-icon name="document"></ion-icon>  No. Deposito: </strong>{{data.deposito}}</p>-->
    <hr style="border: 1px;">
    <div *ngIf="direccion">
      <p class="text"><strong><ion-icon name="pin"></ion-icon>  Dirección: </strong>{{direccion.direccion}}</p>
      <p class="text"><strong><ion-icon name="business"></ion-icon>  Ciudad: </strong>{{direccion.ciudad}}</p>
      <p class="text"><strong><ion-icon name="car"></ion-icon>  Observación: </strong>{{direccion.observacion}}</p>
    </div>
    <div *ngIf="!direccion">
      <p class="text"><strong><ion-icon name="pin"></ion-icon>  Dirección: </strong>No Disponible</p>
    </div>
    <br>
    <div *ngFor="let item of data2.detalle">
      <ion-item-divider>
        <ion-label>
          {{item.productos.name}}
        </ion-label>
      </ion-item-divider>
      <ion-item *ngIf="item.presentaciones">
        <ion-label color="dark">
          <p class="text"><strong>Descripción: </strong>{{ item.presentaciones.description }}</p>
          <p class="text"><strong>Precio: </strong>{{ item.presentaciones.price }}</p>
          <p class="text"><strong>Cantidad: </strong>{{ item.cantidad }}</p>
          <p class="text"><strong>Subtotal: </strong>{{ item.subtotal }}</p>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="!item.presentaciones">
        <ion-label color="dark">
          <p class="text"><strong>Precio: </strong>{{ item.productos.price }}</p>
          <p class="text"><strong>Cantidad: </strong>{{ item.cantidad }}</p>
          <p class="text"><strong>Subtotal: </strong>{{ item.subtotal }}</p>
        </ion-label>
      </ion-item>
    </div>
    <ion-item-divider>
        <ion-label *ngIf="total" color="dark">
          <strong>Total: {{moneda?moneda:'Q'}} {{data2.total}}</strong>
        </ion-label>
    </ion-item-divider>

    <div *ngIf="administratorApp=='Administrador'">
      <form *ngIf="data2.opcion=='1' || data2.opcion=='2' || data2.opcion=='3'" (ngSubmit)="saveChanges()">
        <ion-item>
          <ion-label position="floating"><ion-icon name="calendar"></ion-icon>  Fecha de Entrega</ion-label>
          <ion-datetime displayFormat="YYYY-MMM-DD" [(ngModel)]="order.entrega" name="entrega">
          </ion-datetime>
        </ion-item>
        <ion-button color="Finca" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
          <ion-icon name="send" slot="start"></ion-icon>
          Enviar Pedido
        </ion-button>
      </form>
      <form *ngIf="data2.opcion=='4'" (ngSubmit)="saveChanges2()">
        <ion-button color="Finca" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
          <ion-icon name="send" slot="start"></ion-icon>
          Entregado
        </ion-button>
      </form>
    </div>

    <div *ngIf="userID=='14' || userID=='601' || userID=='761'">
      <form *ngIf="data2.opcion=='1' || data2.opcion=='2' || data2.opcion=='3'" (ngSubmit)="saveChanges()">
        <ion-item>
          <ion-label position="floating"><ion-icon name="calendar"></ion-icon>  Fecha de Entrega</ion-label>
          <ion-datetime displayFormat="YYYY-MMM-DD" [(ngModel)]="order.entrega" name="entrega">
          </ion-datetime>
        </ion-item>
        <ion-button color="Finca" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
          <ion-icon name="send" slot="start"></ion-icon>
          Enviar Pedido
        </ion-button>
      </form>
      <form *ngIf="data2.opcion=='4'" (ngSubmit)="saveChanges2()">
        <ion-button color="Finca" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
          <ion-icon name="send" slot="start"></ion-icon>
          Entregado
        </ion-button>
      </form>
    </div>
    
  </div>
  
</ion-content>