<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mis Usuarios</ion-title>
  </ion-toolbar>
  <ion-toolbar color="FincaNav">
    <ion-searchbar [(ngModel)]="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let data of table| filter: search">
        <ion-label>
          <h2 class="mayuscula"><ion-icon name="person"></ion-icon>  {{data.clients.firstname}} {{data.clients.lastname}}</h2>
          <p><ion-icon name="at"></ion-icon>  {{data.clients.email}}</p>
          <p class="mayuscula"><ion-icon name="phone-portrait"></ion-icon>  {{data.clients.phone}}</p>
          <p class="mayuscula"><ion-icon name="information-circle"></ion-icon>  {{data.clients.opcion30}}</p>
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
