<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-title>Promociones</ion-title>
  </ion-toolbar>
  <ion-toolbar color="FincaNav">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="promocion" checked>
        <ion-label>Promociones</ion-label>
      </ion-segment-button>
      <ion-segment-button value="descuento">
        <ion-label>Descuentos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectItem=='promocion'">
  <ion-list>
    <ion-item lines="none" *ngFor="let data of promociones" (click)="getPromocion(data)">
      <ion-label class="ion-text-wrap" color="dark">
        <p class="mayuscula"><strong>{{ data.title }}</strong></p>
        <p>{{ data.description }}</p>
        <p><ion-icon name="calendar"></ion-icon> Del {{ data.inicio | date: 'dd MMM, yyyy' }} al {{ data.fin | date: 'dd MMM, yyyy' }}</p>
        <p><strong>Descuento: </strong>{{ data.descuento }}%</p>
      </ion-label>
      <img class="img-noticia" src="{{ data.picture }}" slot="start">
    </ion-item>
  </ion-list>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="administratorApp=='Administrador'">
    <ion-fab-button color="Finca" (click)="presentModal2()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-content padding *ngIf="selectItem=='descuento'">
  <div *ngIf="administratorApp=='Administrador'">
    <div class="categories_post" *ngFor="let data of descuentos" (click)="copy(data)">
      <img class="card-img rounded-0" *ngIf="data.picture" src="{{data.picture}}" alt="post">
      <div class="categories_details">
        <div class="categories_text">
        <a><h5>{{ data.codigo }}</h5></a>
        <div class="border_line"></div>
          <p>{{ data.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="administratorApp!='Administrador'">
    <div *ngFor="let data of descuentos">
      <div class="categories_post" (click)="copy(data)" *ngIf="data.longitude=='1'">
        <img class="card-img rounded-0" *ngIf="data.picture" src="{{data.picture}}" alt="post">
        <div class="categories_details">
          <div class="categories_text">
          <a><h5>{{ data.codigo }}</h5></a>
          <div class="border_line"></div>
            <p>{{ data.description }}</p>
          </div>
        </div>
      </div>
    </div>    
  </div>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="administratorApp=='Administrador'">
    <ion-fab-button color="Finca" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
