<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Presentación</ion-title>
  </ion-toolbar>
  <ion-toolbar color="FincaNav">
    <ion-searchbar [(ngModel)]="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of table| filter: search">
      <ion-item>
        <ion-label>
          <p class="mayuscula"><strong><ion-icon name="information-circle-outline"></ion-icon>  {{item.name}}</strong>
          </p>
          <p>{{item.description}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="presentModal(item.id)">
          <ion-icon name="create" slot=icon-only></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="presentAlertConfirm(item.id)">
          <ion-icon name="trash" slot=icon-only></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
