<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-buttons slot="start" *ngIf="parameter=='menu'">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mis Pedidos</ion-title>
    <ion-buttons slot="end" *ngIf="parameter=='compra'">
      <ion-button fill="clear" (click)="goToRoute('cliente')">
        <ion-icon slot="icon-only" name="leaf"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let item of ventas">
    <ion-card-header (click)="presentModal(item.id)">
      <ion-card-title *ngIf="item.opcion == '5'">
        <ion-icon name="checkmark"></ion-icon>
        Venta No. {{ item.id }} - Entregado
      </ion-card-title>
      <ion-card-title *ngIf="item.opcion == '4'">
        <ion-icon name="cash"></ion-icon>
        Venta No. {{ item.id }} - Enviado
      </ion-card-title>
      <ion-card-title *ngIf="item.opcion == '3'">
        <ion-icon name="cash"></ion-icon>
        Venta No. {{ item.id }} - Contado
      </ion-card-title>
      <ion-card-title *ngIf="item.opcion == '2'">
        <ion-icon name="time"></ion-icon>
        Venta No. {{ item.id }} - Depositado
      </ion-card-title>
      <ion-card-title *ngIf="item.opcion == '1'">
        <ion-icon name="document"></ion-icon>
        Venta No. {{ item.id }} - Pagado
      </ion-card-title>
      <ion-card-title *ngIf="item.opcion == '0'">
        <ion-icon name="close"></ion-icon>
        Venta No. {{ item.id }} - Cancelado
      </ion-card-title>
    </ion-card-header>
    <ion-card-content (click)="presentModal(item.id)">
      <p class="text" *ngIf="item.tipos">
        <strong>Tipo: </strong>{{ item.tipos.descripcion }}
      </p>
      <p class="text" *ngIf="item.total">
        <strong>Total: </strong>{{moneda?moneda:'Q'}} {{ item.total }}
      </p>
    </ion-card-content>
    <ion-list>
      <ion-button expand="block" fill="clear" color="FincaNav" *ngIf="item.opcion == '3'" ion-item (click)="cancel(item.id)">
        <ion-icon ios="ios-close" md="md-close" item-start></ion-icon>
        Cancelar
      </ion-button>
    </ion-list>
  </ion-card>


  <!--<ion-card *ngFor="let item of orders" (click)="presentModal(item.id)">
    <ion-card-header>
      <ion-card-title *ngIf="item.state == '5'">
        <ion-icon name="document"></ion-icon>
        Orden No. {{ item.id }} - Depositado
      </ion-card-title>
      <ion-card-title *ngIf="item.state == '4'">
        <ion-icon name="cash"></ion-icon>
        Orden No. {{ item.id }} - Pagar
      </ion-card-title>
      <ion-card-title *ngIf="item.state == '3'">
        <ion-icon name="document"></ion-icon>
        Orden No. {{ item.id }} - Pagado
      </ion-card-title>
      <ion-card-title *ngIf="item.state == '2'">
        <ion-icon name="time"></ion-icon>
        Orden No. {{ item.id }} - Proceso
      </ion-card-title>
      <ion-card-title *ngIf="item.state == '1'">
        <ion-icon name="checkmark"></ion-icon>
        Orden No. {{ item.id }} - Recibido
      </ion-card-title>
      <ion-card-title *ngIf="item.state == '0'">
        <ion-icon name="checkmark"></ion-icon>
        Orden No. {{ item.id }} - Cancelado
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="text">
        <strong>Comentario: </strong>{{ item.comment }}
      </p>
      <p class="text">
        <strong>Producto: </strong>{{ item.products.name }}
      </p>
      <p class="text">
        <strong>Precio Unitario: </strong>Q {{ item.unit_price }}
      </p>
      <p class="text">
        <strong>Cantidad: </strong>{{ item.quantity }}
      </p>
      <p class="text">
        <strong>Total: </strong>Q {{ item.total }}
      </p>
    </ion-card-content>
    <ion-list>
      <ion-button expand="block" fill="clear" color="FincaNav" *ngIf="item.state == '4'" ion-item (click)="cancel(item.id)">
        <ion-icon ios="ios-close" md="md-close" item-start></ion-icon>
        Cancelar
      </ion-button>
      <ion-button expand="block" fill="clear" color="FincaNav" *ngIf="item.state == '2'" ion-item (click)="cancel(item.id)">
        <ion-icon ios="ios-close" md="md-close" item-start></ion-icon>
        Cancelar
      </ion-button>
      <ion-button expand="block" fill="clear" color="FincaNav" *ngIf="item.state == '2'" ion-item (click)="accept(item.id)">
        <ion-icon ios="ios-checkmark" md="md-checkmark" item-start></ion-icon>
        Recibido
      </ion-button>
    </ion-list>
  </ion-card>-->
</ion-content>
