<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-title>Presentación</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="saveChanges()">
    <!-- NOMBRE -->
    <ion-item>
        <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="data.name" name="name">
        </ion-input>
    </ion-item>
    <!-- DIRECCIÓN -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="data.description" name="description">
      </ion-input>
    </ion-item>
    <ion-button color="Finca" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>
