<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
  <ion-toolbar color="FincaNav" mode="md">
    <ion-segment (ionChange)="segmentChanged($event)" mode="md" scrollable>
      <ion-segment-button value="pagados"  mode="md" checked>
        <ion-label>Pagados</ion-label>
      </ion-segment-button>
      <ion-segment-button value="deposito"  mode="md">
        <ion-label>Depositos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pendientes"  mode="md">
        <ion-label>Contado</ion-label>
      </ion-segment-button>
      <ion-segment-button value="enviados" mode="md">
        <ion-label>Enviados</ion-label>
      </ion-segment-button>
      <ion-segment-button value="entregados" mode="md">
        <ion-label>Entregados</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cancelados" mode="md">
        <ion-label>Cancelados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let item of ventas">
    <ion-card-header (click)="presentModal(item.id)">
      <ion-card-title *ngIf="item.opcion == '5'">
        <ion-icon name="checkmark"></ion-icon>
        Venta No. {{ item.id }} - Entregado
      </ion-card-title>
      <ion-card-title *ngIf="item.opcion == '4'">
        <ion-icon name="cash"></ion-icon>
        Venta No. {{ item.id }} - Enviado
      </ion-card-title>
      <ion-card-title *ngIf="item.opcion == '3'">
        <ion-icon name="cash"></ion-icon>
        Venta No. {{ item.id }} - Contado
      </ion-card-title>
      <ion-card-title *ngIf="item.opcion == '2'">
        <ion-icon name="time"></ion-icon>
        Venta No. {{ item.id }} - Depositado
      </ion-card-title>
      <ion-card-title *ngIf="item.opcion == '1'">
        <ion-icon name="document"></ion-icon>
        Venta No. {{ item.id }} - Pagado
      </ion-card-title>
      <ion-card-title *ngIf="item.opcion == '0'">
        <ion-icon name="close"></ion-icon>
        Venta No. {{ item.id }} - Cancelado
      </ion-card-title>
    </ion-card-header>
    <ion-card-content (click)="presentModal(item.id)">
      <p class="text" *ngIf="item.tipos">
        <strong>Tipo: </strong>{{ item.tipos.descripcion }}
      </p>
      <p class="text" *ngIf="item.total">
        <strong>Total: </strong>{{moneda?moneda:'Q'}} {{ item.total }}
      </p>
    </ion-card-content>
    <ion-list>
      <ion-button expand="block" fill="clear" color="FincaNav" *ngIf="item.opcion == '2'" ion-item (click)="cancel(item.id)">
        <ion-icon ios="ios-close" md="md-close" item-start></ion-icon>
        Cancelar
      </ion-button>
      <ion-button expand="block" fill="clear" color="FincaNav" *ngIf="item.opcion == '3'" ion-item (click)="cancel(item.id)">
        <ion-icon ios="ios-close" md="md-close" item-start></ion-icon>
        Cancelar
      </ion-button>
    </ion-list>
  </ion-card>
</ion-content>
