<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-title *ngIf="administratorApp!='Administrador'">Detalle de Producto</ion-title>
    <ion-title *ngIf="administratorApp=='Administrador'">Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div *ngIf="parameter">
    <ion-toolbar color="FincaNav" *ngIf="administratorApp=='Administrador'">
      <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="formulario" checked>
          <ion-label>Formulario</ion-label>
        </ion-segment-button>
        <ion-segment-button value="detalle">
          <ion-label>Detalle</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>  
</ion-header>

<ion-content *ngIf="administratorApp!='Administrador'">
  <div *ngIf="data" >
      <h2 class="text center" *ngIf="data.name">{{data.name}}</h2>
      <p class="text center" *ngIf="data.description">
        <strong>
          <ion-icon name="information-circle"></ion-icon>  Descripción:
        </strong> {{data.description}}
      </p>
      <p class="text center" *ngIf="data.price ">
        <strong>
          <ion-icon name="pricetags"></ion-icon>  Precio:
        </strong> Q {{data.price}}
      </p>
      <p class="text center" *ngIf="data.quantity ">
        <strong>
          <ion-icon name="cart"></ion-icon>  Cantidad:
        </strong> {{data.quantity}}
      </p>
  </div><br/>

  <div *ngIf="data">
    <div *ngFor="let item of data.presentaciones_varias">
      <ion-item-divider>
        <ion-label class="mayuscula">
          {{item.description}}
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label color="dark">
          <p class="text"><strong>Precio: </strong>Q {{item.price}}</p>
          <p class="text"><strong>Cantidad: </strong>{{ item.quantity }}</p>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="administratorApp=='Administrador'">
  <form class="ion-padding" (ngSubmit)="saveChanges()" *ngIf="selectItem=='formulario'">
      <!--IMAGEN DE PRODUCTOS-->
      <div *ngIf="product.picture!=null">
        <img src="{{ product.picture }}" id="imgAvatar" alt="Avatar"
        style="display: block; width: 250px; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <!--NOMBRE-->
      <ion-item>
        <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="product.name" name="name">
        </ion-input>
      </ion-item>
      <!--DESCRIPCION-->
      <ion-item>
        <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Descripción</ion-label>
        <ion-textarea type="text" [(ngModel)]="product.description" name="description">
        </ion-textarea>
      </ion-item>
      <!--PRECIO-->
      <ion-item>
        <ion-label position="floating"><ion-icon name="pricetag"></ion-icon>  Precio</ion-label>
        <ion-input type="number" [(ngModel)]="product.price" name="price" >
        </ion-input>
      </ion-item>
      <!--PRECIO-->
      <ion-item>
        <ion-label position="floating"><ion-icon name="pricetags"></ion-icon>  Cantidad</ion-label>
        <ion-input type="number" [(ngModel)]="product.quantity" name="quantity" >
        </ion-input>
      </ion-item>
      <!--CATEGORIA-->
      <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-apps" md="md-apps"></ion-icon>  Categoría</ion-label>
        <ion-select [(ngModel)]="product.category" [placeholder]="product.category ? product.category : 'Seleccionar Categoría..'" name="category">
          <ion-select-option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    <ion-button color="danger" expand="block" fill="solid" (click)="presentAlert()"  type="button" [disabled]="btnDisabled">
      <ion-icon name="trash" slot="start"></ion-icon>
      Eliminar
    </ion-button>
    <ion-button color="Finca" expand="block" fill="solid" (click)="saveChanges()"  type="button" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>

  <div *ngIf="selectItem=='detalle'">
    <div *ngIf="data" >
      <h2 class="text center" *ngIf="data.name">{{data.name}}</h2>
      <p class="text center" *ngIf="data.description">
        <strong>
          <ion-icon name="information-circle"></ion-icon>  Descripción:
        </strong> {{data.description}}
      </p>
      <p class="text center" *ngIf="data.price ">
        <strong>
          <ion-icon name="pricetags"></ion-icon>  Precio:
        </strong> Q {{data.price}}
      </p>
      <p class="text center" *ngIf="data.quantity ">
        <strong>
          <ion-icon name="cart"></ion-icon>  Cantidad:
        </strong> {{data.quantity}}
      </p>
    </div><br/>

    <div *ngIf="data">
      <ion-list>
        <ion-item-sliding *ngFor="let item of data.presentaciones_varias">
        <ion-item>
          <ion-label color="dark" class="ion-text-wrap">
            <p><strong><ion-icon name="information-circle"></ion-icon>Producto: </strong>{{item.description}}</p>
            <p><strong><ion-icon name="cash"></ion-icon>Precio: </strong>Q {{item.price}}</p>
            <p><strong><ion-icon name="pricetags"  *ngIf="item.quantity "></ion-icon>Cantidad: </strong>{{ item.quantity }}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
            <ion-item-option color="danger" (click)="presentAlertConfirm(item.id)">
              <ion-icon name="trash" slot="start"></ion-icon>Eliminar
            </ion-item-option>
            <ion-item-option color="Finca" (click)="presentModal(item.id)">
              <ion-icon name="create" slot="start"></ion-icon>Editar
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="administratorApp=='Administrador'">
      <ion-fab-button color="Finca" (click)="presentModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>