<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dirección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let data of table">
        <ion-item *ngIf="data.client == clientId">
        <ion-label>
          <h2 class="mayuscula"><ion-icon name="home"></ion-icon>  {{data.direccion}}</h2>
          <p class="mayuscula"><ion-icon name="information-circle"></ion-icon>  {{data.ciudad}}</p>
          <p class="mayuscula"><ion-icon name="information-circle"></ion-icon>  {{data.calle}}</p>
          <p class="mayuscula"><ion-icon name="phone-portrait"></ion-icon>  {{data.numero}}</p>
        </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="presentAlertConfirm(data.id)" color="danger">
            <ion-icon name="trash"></ion-icon>  Eliminar
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="Finca" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
