<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToRoute('carrito')">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
      <ion-button (click)="goToRoute('presentacion')" *ngIf="administratorApp=='Administrador'">
        <ion-icon slot="icon-only" name="pricetags"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="FincaNav">
    <ion-searchbar [(ngModel)]="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let data of productos |filter:search">
    <ion-card-header>
      <ion-card-title style="font-size: 18px;">{{data.name}}</ion-card-title>
      <ion-card-subtitle>{{data.description}}</ion-card-subtitle>
    </ion-card-header>

    <ion-list lines="none">
      <ion-item *ngIf="data.presentaciones_varias.length!=0">
        <ion-label>Presentación</ion-label>
        <ion-select [(ngModel)]="selectItem" name="selectItem" placeholder="Seleccionar">
          <ion-select-option *ngFor="let x of data.presentaciones_varias" [value]="x">{{x.description}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" fill="clear" color="FincaNav" *ngIf="data.presentaciones_varias.length!=0" (click)="saveChanges2(data)">
        <ion-icon name="cart" slot="start"></ion-icon>
        Añadir al carrito
      </ion-button>
      <ion-button expand="block" fill="clear" color="FincaNav" *ngIf="data.presentaciones_varias.length==0" (click)="saveChanges(data)">
        <ion-icon name="cart" slot="start"></ion-icon>
        Añadir al carrito
      </ion-button>
      <ion-button expand="block" fill="clear" color="FincaNav" (click)="presentModal(data.id)">
        <ion-icon name="information-circle" slot="start"></ion-icon>
        Ver Precios
      </ion-button>
    </ion-list>
  </ion-card>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="administratorApp=='Administrador'">
    <ion-fab-button color="Finca" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
