<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form padding (ngSubmit)="saveChanges()" class="item item-trns">
    <!--USUARIO-->
    <ion-item color="transparent">
      <ion-label style="color: white;" position="floating" ><ion-icon name="contact"></ion-icon>  Usuario</ion-label>
      <ion-input style="color: white;" type="text" [(ngModel)]="data.username" name="username">
      </ion-input>
    </ion-item>
    <!--CORREO ELECTRONICO-->
    <ion-item color="transparent">
      <ion-label style="color: white;" position="floating" ><ion-icon name="at"></ion-icon>  Correo Electrónico</ion-label>
      <ion-input style="color: white;"  type="email" [(ngModel)]="data.email" name="email">
      </ion-input>
    </ion-item>
    <!--CONTRASEÑA-->
    <ion-item color="transparent">
      <ion-label style="color: white;" position="floating" ><ion-icon name="unlock"></ion-icon>  Contraseña</ion-label>
      <ion-input style="color: white;" [type]="passwordType" [(ngModel)]="data.password" name="password">
      </ion-input>
      <ion-icon color="light" name="eye-off" slot="end" size="small" (click)="togglePassword()" *ngIf="!passwordShow"></ion-icon>
      <ion-icon color="light" name="eye" slot="end" size="small" (click)="togglePassword()" *ngIf="passwordShow"></ion-icon>
    </ion-item>
    <!--CONTRASEÑA-->
    <ion-item color="transparent">
      <ion-label style="color: white;" position="floating" ><ion-icon name="unlock"></ion-icon>  Confirmar Contraseña</ion-label>
      <ion-input style="color: white;"  [type]="passwordType2" [(ngModel)]="data.password_repeat" name="password_repeat">
      </ion-input>
      <ion-icon color="light" name="eye-off" slot="end" size="small" (click)="togglePassword2()" *ngIf="!passwordShow2"></ion-icon>
      <ion-icon color="light" name="eye" slot="end" size="small" (click)="togglePassword2()" *ngIf="passwordShow2"></ion-icon>
    </ion-item>
    <!--NOMBRE-->
    <ion-item color="transparent">
      <ion-label style="color: white;" position="floating" ><ion-icon name="contact"></ion-icon>  Nombre</ion-label>
      <ion-input style="color: white;" type="text" [(ngModel)]="data.firstname" name="firstname">
      </ion-input>
    </ion-item>
    <!--APELLIDO-->
    <ion-item color="transparent">
      <ion-label style="color: white;" position="floating" ><ion-icon name="contact"></ion-icon>  Apellido</ion-label>
      <ion-input style="color: white;" type="text" [(ngModel)]="data.lastname" name="lastname">
      </ion-input>
    </ion-item>
    <!--TELEFONO-->
    <ion-item color="transparent">
      <ion-label style="color: white;" position="floating" ><ion-icon name="phone-portrait"></ion-icon>  Telefono</ion-label>
      <ion-input style="color: white;" type="number" [(ngModel)]="data.phone" name="phone">
      </ion-input>
    </ion-item>
    <!--DIRECCION-->
    <ion-item color="transparent">
      <ion-label style="color: white;" position="floating" ><ion-icon name="pin"></ion-icon>  Direccion</ion-label>
      <ion-input style="color: white;" type="text" [(ngModel)]="data.work" name="work">
      </ion-input>
    </ion-item>
    <!--PRODUCTOS-->
    <ion-item color="transparent">
      <ion-label style="color: white;" position="floating"><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Supiste de nosotros por:</ion-label>
      <ion-select style="color: white;" [(ngModel)]="data.opcion30" name="opcion30">
        <ion-select-option value="Instagram" >Instagram</ion-select-option>
        <ion-select-option value="Facebook" >Facebook</ion-select-option>
        <ion-select-option value="Referido" >Referido</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button color="Finca" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Registrarme
    </ion-button>
  </form>
</ion-content>