<ion-header>
  <ion-toolbar color="FincaNav">
    <ion-title>Categoría</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <img class="image-slides2" id="imgAvatar" alt="Avatar" [src]="data.picture">
    <!--NOMBRE-->
    <ion-item no-lines>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Nombre</ion-label>
      <ion-input type="text"
      [(ngModel)]="data.name" name="name" required>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item no-lines>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Descripción</ion-label>
      <ion-textarea rows="6" cols="20" [(ngModel)]="data.description" name="description"></ion-textarea>
    </ion-item>
    <ion-button color="Finca" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
    <div class="upload-btn-wrapper" *ngIf="data.id">
      <ion-button expand="block" type="button" color="Finca" style="width: 100%">
        <ion-icon ios="ios-image" md="md-image" slot="start"></ion-icon>
        Subir Imagen
      </ion-button>
      <input style="width: 100%" class="upload-btn-wrapper2 button button-block button-solid invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>
  </form>
</ion-content>
